{% extends '_base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center my-4">
        <div class="card p-4 shadow-lg text-center" style="width: 600px;">
            <h2 class="mb-4">Password Reset</h2>
            <p>
                We have sent you an email. If you have not received it, please check your spam folder.
                <br>
                <br>
                Otherwise, contact us if you do not receive it in a few minutes.
            </p>
            <a href="{% url 'account_login' %}" class="btn btn-primary w-100">Back To Login</a>
        </div>
    </div>
{% endblock content %}
