<div class="card p-4 {% if full_height %}h-100{% endif %} {% if not noshadow %}shadow{% endif %} {% if bevel %}bevel{% endif %} {% if limit_height %}limit_height{% endif %} {% if garage %}garage-door{% endif %} {{ classes }}">
    {% if heading %}
        <h1 class="card__header display-{{ size }} {% if weight %}fw-{{ weight }}{% endif %}">{{ heading }}</h1>
    {% endif %}
    <div class="card__body">{{ children }}</div>
</div>
<style>
    .card {
        border-radius: 2rem;
        background-color: var(--primary-xtra-light);
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 2px 10px rgba(0, 0, 0, 0.2);
        border: 2px solid var(--primary-dark);
    }
    .card__body {
      background-color: var(--background-color);
      filter: brightness(100%);
    }
    .limit_height {
      max-height: 100vh;
      overflow-y: auto;
    }
</style>
