<div class="card p-4 {% if full_height %}h-100{% endif %} {% if not noshadow %}shadow{% endif %} {% if bevel %}bevel{% endif %} {% if limit_height %}limit_height{% endif %} {% if garage %}garage-door{% endif %} {{ classes }}">
    {% if heading %}
        <h1 class="card__header display-{{ size }} {% if weight %}fw-{{ weight }}{% endif %}">{{ heading }}</h1>
    {% endif %}
    <div class="card__body">{{ children }}</div>
</div>
<style>
   .card {
      border-radius: 10px; /* Optional: Soft rounded corners */
      background-color: white; /* Ensure contrast */
    }
    .card__body {
      background-color: var(--background-color);
      filter: brightness(100%);
    }
    .limit_height {
      max-height: 100vh;
      overflow-y: auto;
    }
</style>
